{% extends "comunicados/base.html" %}
{% load static %}

{% block header %}

<div class="row text-center">
    <div class="col-md-12 col-lg-3"> <!--Logo institucional-->
        <img src="{% static 'images/Logo_UTFSM.png' %}" alt="" class="logos">
    </div>
    <div class="col-md-12 col-lg-9 d-flex justify-content-center align-items-center">
        <h1>Sistema integrado de Notificaciones</h1>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin/">Administración</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container">
    <!--
        Filtrado por departamento
        TODO: Realizar filtrado por departamento
    -->
    <select name="" id="" class="form-select">
        <option value="" selected>Departamento</option>
        {% for entidad in entidades %}
            <option value="{{ entidad.id }}">{{ entidad.nombre }}</option>
        {% endfor %}
    </select>

    <!--Grid Comunicados-->
    <div class="row">
        {% for comunicado in comunicados %}

        <div class="col col-lg-4">
            <div class="card w-100">
                <div class="card-body">
                    <a href="{% url 'comunicado' comunicado.id %}">
                        <h5 class="card-title">{{ comunicado.titulo }}</h5>
                    </a>
                    
                    <h6 class="card-subtitle mb-2 text-muted">{{ comunicado.entidad.nombre }}</h6>
                    <p class="card-text">{{ comunicado.detalle_corto }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}